html {
    font-family: Arial, sans-serif;
}

main {
    text-align: center;
}

main img {
    margin-bottom: 25px;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    margin-bottom: 190px;
    justify-content: flex-end;
    margin-right: 10px;
    align-items: center;
    margin-top: 10px;
    color:rgb(61, 61, 61)
}


.navbar > * {
    margin-left: 15px;
    font-size: 15px;
}

.navbar svg {
    height: 25px;
    width: 25px;
    fill: gray;
}

.navbar div:hover {
    text-decoration: underline;
}


.form-search {
    display: flex;
    align-items: center;
    height: 38px;
    width: 550px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px 8px 0 16px;
    margin: auto;
    margin-bottom: 30px;
}

#search {
    border: none;
    width: 490px;
}

#search:focus-visible {
    outline: none;
}


.search-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    margin-right: 7px;
}

.search-logo svg {
    height: 20px;
    width: 20px;
    fill: gray;
}

.mic-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    margin-right: 7px;
}

.mic-logo svg {
    height: 24px;
    width: 24px;
}

.main-buttons {
    border: none;
    padding: 11px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 5px;
    color: rgb(100, 100, 100);
    margin: 5px;
    background-color: rgba(236, 236, 236, 0.651)
}


footer {
    background-color: rgb(245, 245, 245);
    font-size: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(138, 138, 138);
}

footer p:hover {
    text-decoration: underline;
}

.first-line {
    display: flex;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.first-line p {
    margin-left: 20px;
}


.second-line {
    display: flex;
    margin-left: 20px;
}

.beginning {
    display: flex;
}

.beginning p {
    margin-right: 15px;
}

.end {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

.end p {
    margin-right: 15px;
}