main {
    text-align: center;
}


img {
    margin-bottom: 30px;
}
.navbar {
    display: flex;
    margin-bottom: 190px;
    justify-content: flex-end;
    align-content: center;
}

.navbar > * {
    margin-left: 10px;
    margin-bottom: 0px;
    text-align: center;
}

.navbar p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar svg {
    height: 30px;
    width: 30px;
}

.navbar p:hover {
    text-decoration: underline;
}


.form-search {
    display: flex;
    align-items: center;
    height: 38px;
    width: 550px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px 8px 0 16px;
    margin: auto;
    margin-bottom: 30px;
}

#search {
    border: none;
    width: 490px;
}

#search:focus-visible {
    outline: none;
}


.search-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    margin-right: 7px;
}

.search-logo svg {
    height: 20px;
    width: 20px;
    fill: gray;
}

.mic-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    margin-right: 7px;
}

.mic-logo svg {
    height: 24px;
    width: 24px;
}

.main-buttons {
    border: none;
    padding: 11px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 5px;
    color: rgb(59, 59, 59);
    margin: 5px;
    background-color: rgba(236, 236, 236, 0.651)
}